*{
    margin: 0px;
    padding: 0px ;
    box-sizing: border-box;
}
@media (max-width: 786px) and (min-width: 200px){
    .buttonall{
        display: flex !important;
        flex-direction: column !important;
        padding: 0px !important;
        margin: 0px !important;
    }
    .seer{
          padding: 0px !important;
        margin: 0px !important;
    }
    
}